<h1>Person view</h1>

    <div>
      <h2><%= @person.name %></a></h2>
      <p><%= @person.email %></p>
    <% unless @person == current_user %>
          <% if can? :destroy, Person %>
            <%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
      <% end %>
      </div>
