<h1>Agenda</h1>

<% if @events_as_teacher.any? %>
  <%= render 'teachers_events', events_as_teacher: @events_as_teacher %>
<% end %>

<% if @events_as_student.any? %>
  <%= render 'students_events', events_as_student: @events_as_student %>
<% end %>

<% if @pending_assignments.any? %>
  <%= render 'pending_assignments', pending_assignments: @pending_assignments %>
<% end %>

<!-- FUTURE FUNCTIONALITY -->
<!-- List previous course materials -->