<h1>Dashboard</h1>

<% if @events.any? %>
  <%= render 'dashboard_events', events: @events, timeslots: @timeslots %>
<% end %>

<% if @users.any? %>
  <%= render 'dashboard_users', users: @users %>
<% end %>
