<h1>Bookings</h1>
<p>Find me in app/views/events/index.html.erb</p>
<div id='container'>

  <%= render 'room_allocations', events: @events, date_range: @date_range, timeslots: @timeslots, rooms: @rooms  %>

</div>